<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    안녕하세요~ 반갑습니다. ^^
    <p th:text="${data}"></p>
    <ul>
        <li><a th:href="@{/thymeleaf/ex01}">Thymeleaf 예제 01 model data 변수전달</a></li>
        <li><a th:href="@{/thymeleaf/ex02}">Thymeleaf 예제 02 model itemDto 객체전달</a></li>
        <li><a th:href="@{/thymeleaf/ex03}">Thymeleaf 예제 03 th:each</a></li>
        <li><a th:href="@{/thymeleaf/ex04}">Thymeleaf 예제 04 th:if, th:unless</a></li>
        <li><a th:href="@{/thymeleaf/ex05}">Thymeleaf 예제 05 th:switch, th:case</a></li>
        <li><a th:href="@{/thymeleaf/ex06(param1 = '파라메타 데이터1', param2 = '파라메타 데이터2')}">Thymeleaf 예제 06 th:herf 파라메타 전달</a></li>
        <li><a th:href="@{/thymeleaf/ex07(param1 = '파라메타 데이터1', param2 = '파라메타 데이터2')}">Thymeleaf 예제 07 layout:fragment 적용</a></li>
    </ul>
</div>

</html>
